# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
[Pp]latforms/

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.io-config.json
client_keys.js
.DS_Store